@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'media';

.header {
    background-color: $white;
    display: flex;
    position: fixed;
    line-height: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('../images/header-bg.png');
    box-shadow: 0px 0px 5px 0px $accent;
    z-index: 6;
    padding: 20px 10px;

    &__slogan {
        font-size: 36px;
        color: $red;
    }

    &__sticky {
        position: fixed;
        background-color: $white;
        z-index: 1;
        box-shadow: 0px 0px 5px 0px $accent;
        padding: 10px 0;
        z-index: 5;
    }
}

.title {
    font-size: 54px;
}

.content {
    width: 100%;
    height: 700px;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1500px rgba($gray, 0.7);
    padding: 70px 0;

    &__wrapper {
        max-width: 1200px;
        width: 100%;
        height: 576px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-image: url('../images/hero.jpg');
        background-size: 384px 576px;
        background-repeat: no-repeat;
        background-position: 125px center;
        padding: 100px 0;

    }

    &__container {
        // background-image: url('../images/hero.jpg');
        width: 384px;
        height: 576px;
        background-size: contain;
    }

    &__inner {
        align-self: end;
        max-width: 500px;
    }

    &__slogan {
        display: inline-block;
        position: relative;
        font-size: 25px;
        padding-right: 40px;

        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            mask-image: url('../images/heart.svg');
            background-color: $red;
            mask-repeat: no-repeat;
            top: 5px;
            right: 0;
        }
    }
}

.portfolio {
    padding: 140px 0 165px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    &__filter-btn {
        margin-right: 65px;
    }

    &__btn {
        background-color: transparent;
        border: none;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        color: #333;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 0 4px 5px;
        outline: #fcbb08;
        cursor: pointer;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid #fcbb08;
        }

        &:active,
        &.is-checked {
            color: $accent;
        }
    }

    &__btn+.portfolio__btn {
        margin-left: 25px;
    }

    &__content {
        width: 100%;
        display: block;
        margin: 0 auto;
        height: 100vh;
    }


    &__item {
        float: left;
        max-width: 19%;
        margin: 0 5px 10px 5px;
        transitionDuration: '0.8s';
        stagger: 30;
        position: relative;
    }

    &__item:first-child {
        margin-top: 0;
    }

    &__filter-btn-active {
        color: #fcbb08;
        border-bottom: 1px solid #fcbb08;
    }
}

.mixitup-control-active {
    border-bottom: 1px solid #fcbb08;
}

@media (max-width: 1200px) {

    .portfolio__filter-btn {
        margin-right: 0;
    }

    .hero {

        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 0 1500px rgba($gray, 0.7);
        padding: 70px 0;

    }
}

@media (max-width: 992px) {

    .hero {
        background-image: url('../images/hero.jpg');

        &__wrapper {
            background-image: none;
        }
    }

    .portfolio {

        &__item {
            max-width: 18%;
        }

        &__top {
            display: block;
            margin-bottom: 50px;
        }

        &__filter-btn {
            margin-top: 40px;
        }
    }
}

@media (max-width: 768px) {

    .hero {
        padding: 0;


        &__wrapper {
            max-width: 1200px;

            width: 100%;
            height: 576px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-size: 384px 576px;
            background-repeat: no-repeat;
            background-position: 125px center;
            padding: 0;

        }

        &__container {
            width: 384px;
            height: 576px;
            background-size: contain;
        }

        &__inner {
            padding-top: 200px;
            align-self: center;
            max-width: 500px;
        }

        &__slogan {
            display: inline-block;
            position: relative;
            font-size: 20px;
            padding-right: 40px;

            &::after {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;
                mask-image: url('../images/heart.svg');
                background-color: $red;
                mask-repeat: no-repeat;
                top: 5px;
                right: 0;
            }
        }
    }

    .title {
        font-size: 34px;
    }

    .portfolio {
        padding: 30px 0 30px;

        &__filter-btn {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        &__btn {
            display: block;
            margin-bottom: 30px;
        }

        &__btn+.portfolio__btn {
            margin-left: 0;
        }

        // &__add {
        //     margin-bottom: 40px;
        // }
    }
}

@media (max-width: 560px) {
    .portfolio {
        &__item {
            float: left;
            max-width: 48%;
            margin: 0 1% 2% 1%;
            transitionDuration: '0.8s';
            stagger: 30;
            // position: relative;
        }
    }
}